/.vs/Chat/FileContentIndex/0757a580-6c76-4fa9-b597-5daf21910b8d.vsidx
/.vs/Chat/FileContentIndex/1c47eddf-20d2-499c-acde-d595b9ab9f96.vsidx
/.vs/Chat/FileContentIndex/1fa4463e-d7ba-4ff9-871d-0cd6de0e3a51.vsidx
/.vs/Chat/FileContentIndex/3098720e-1cc3-4ad9-97fa-8e30b039bf6a.vsidx
/.vs/Chat/FileContentIndex/ff69d1fc-a3a0-4c0a-a9e3-baca4eb0c6cf.vsidx
/.vs/Chat/FileContentIndex/cd6bb623-0dbf-4036-862c-27f2e9910cff.vsidx
/obj/Debug/net6.0/Chat.dll
/bin/Debug/net6.0/Chat.dll
